@{
    ViewBag.Title = "Coming Soon";
}
<div class="content">
    <div class="main-gallery home-gal-img">
        <div class="gallery-cell">
            <div class="carousel-caption">
                <h3>Box Office Opens At 7:30</h3>
            </div>
        </div>
        <div class="gallery-cell">
            <div class="carousel-caption">
                <h3>Shows Begin At Dusk</h3>
            </div>
        </div>
        <div class="gallery-cell">
            <div class="carousel-caption">
                <h3>Open Fri - Sun</h3>
            </div>
        </div>
    </div>

    <div id="header" class="blue-header2 text-right">Coming Soon</div>

    @*<div id="countdown" style="background-color:black" class="screenbox">
            <div id="DateCountdown" class="example" data-date="2016-03-25 19:30:00"></div>
        </div>*@

    <div class="screenbox screen1">
        <div class="row">
            <div class="col-lg-7 col-md-12 hidden-sm hidden-xs screen-content">
                <h1 class="title">The Jungle Book | The Huntsman</h1>
                <h3 class="running-time">Screen 1</h3>
                    <article class="movie-description">
                        <p>
                            Animation | 1h38m | Sexual Content, Disturbing Content
                        </p>
                        <div class="movie-test" style="max-height:7em; overflow:hidden; text-overflow:ellipsis;   display: -webkit-box; -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  ">
                            In this reimagining of the classic collection of stories by Rudyard Kipling,
                            director Jon Favreau uses visually stunning CGI to create the community of
                            animals surrounding Mowgli (Neel Sethi), a human boy adopted by a pack of wolves.
                            The appearance of a villainous tiger named Shere Khan (voiced byIdris Elba) forces
                            Mowgli's guardian, the panther Bagheera (Ben Kingsley), to shepherd the child to
                            safety in the "man village."
                        </div>
                        <p>
                            <a class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=8hYlB38asDY" target="_blank">Watch Trailer</a>
                        </p>
                </article>
            </div>
            <div class="ribbon hidden-lg hidden-md">
                <h1 class="text-center" style="margin-bottom:-5vh; transition: margin-top 999999s, margin-bottom 99999s;">The Martian | Thor</h1>
            </div>
            <div class="col-lg-5 col-md-12 poster-container float-right">
                <a id="demo01" href="animatedModal"><img class="poster-pad-left poster-pad-right posters col-sm-6" src="~/Images/Posters/junglebookposter.jpg"></a>
                <a href=""><img class="posters poster-pad-left poster-pad-right col-sm-6" src="~/Images/Posters/huntsman.jpg"></a>
            </div>
        </div>
    </div>

    <div class="screenbox screen2">
        <div class="row">
            <div class="ribbon hidden-lg hidden-md">
                <h1 class="text-center" style="margin-bottom:0vh; transition: margin-top 999999s, margin-bottom 99999s;">Captain America: Civil War | Zootopia</h1>
            </div>
            <div class="col-lg-5 col-md-12 @*hidden-xs*@ poster-container">
                <a href=""><img class="posters col-sm-6" src="~/Images/Posters/captain.jpg"></a>
                <a href=""><img class="posters poster-pad-right col-sm-6" src="~/Images/Posters/zootopia.jpg"></a>
            </div>
            <div class="col-lg-7 col-md-12 hidden-sm hidden-xs">
                <h1 class="title text-right" style="color:black;">Captain America: Civil War | Zootopia</h1>
                <h3 class="running-time text-right" style="color:black;">Screen 2</h3>
                <article class="movie-description text-right">
                    <p>
                        Animation | 1h38m | Sexual Content, Disturbing Content
                    </p>
                    <div class="movie-test" style="max-height:5.6em; overflow:hidden; text-overflow:ellipsis;   display: -webkit-box; -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  ">
                        In this next chapter of the epic "Maze Runner" saga, Thomas and his
                        fellow Gladers face their greatest challenge yet: searching for clues
                        about the mysterious and powerful organization known as WCKD.
                        Their journey takes them to the Scorch, a desolate landscape filled
                        with unimaginable obstacles. Teaming up with resistance fighters,
                        the Gladers take on WCKD's vastly superior forces and uncover its
                        shocking plans for them all.
                    </div>
                        <p>
                            <a style="border-color:black;" class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=Cl-SwgxkNZs" target="_blank">Watch Trailer</a>
                        </p>
</article>
            </div>
        </div>
    </div>

    <div class="screenbox screen3">
        <div class="row">
            <div class="col-lg-7 col-md-12 hidden-sm hidden-xs">
                <h1 class="title">Mother's Day | Keanu</h1>
                <h3 class="running-time">Screen 3</h3>
                <article class="movie-description">
                    "Mother's Day" is the latest star studded ensemble comedy from director Garry Marshall
                     ("Pretty Woman," "Valentine's Day"). Bringing together Jennifer Aniston, Kate Hudson and Julia Roberts
                     along with Jason Sudeikis, it's a celebration of mothers everywhere. This big-hearted comedy invites us
                     all to enjoy the laughter, tears and love as three generations come together in the week leading up to
                     Mother's Day.
                    <p>
                        <a class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=7XLQ1bkSLDo" target="_blank">Watch Trailer</a>
                    </p>
                </article>
            </div>
            <div class="ribbon hidden-lg hidden-md">
                <h1 class="text-center" style="margin-bottom:0vh; transition: margin-top 999999s, margin-bottom 99999s;">Mother's Day | Keanu</h1>
            </div>
            <div class="col-xs-12 col-lg-5 poster-container float-right">
                <a href=""><img class="posters poster-pad-right poster-pad-left col-sm-6" src="~/Images/Posters/mothers.jpg"></a>
                <a href=""><img class="posters poster-pad-left poster-pad-right col-sm-6" src="~/Images/Posters/keanu.jpg"></a>
            </div>
        </div>
    </div>

    @*<div class="screenbox screenbox-last-padding screen4">
        <div class="row">
            <div class="ribbon hidden-lg hidden-md">
                <h1 class="text-center" style="margin-bottom:0vh; transition: margin-top 999999s, margin-bottom 99999s;">Black Mass | The Grey</h1>
            </div>
            <div class="col-xs-12 col-lg-5 poster-container">
                <a href=""><img class="posters col-xs-6" src="~/Images/Posters/black-mass.jpg"></a>
                <a href=""><img class="posters poster-pad-right col-xs-6" src="~/Images/Posters/grey.jpg"></a>
            </div>
            <div class="col-lg-7 col-md-12 hidden-sm hidden-xs">
                <h1 class="title text-right">Black Mass | The Grey</h1>
                <h3 class="running-time text-right">Screen 4</h3>
                <article class="movie-description text-right">
                    In 1970s South Boston, FBI Agent John Connolly (Joel Edgerton)
                    persuades Irish mobster James "Whitey" Bulger (Johnny Depp) to
                    collaborate with the FBI and eliminate a common enemy: the Italian
                    mob. The drama tells the story of this unholy alliance, which spiraled
                    out of control, allowing Whitey to evade law enforcement, consolidate
                    power, and become one of the most ruthless and powerful gangsters
                    in Boston history.
                    <p>
                        <a class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=R_F-lVhSfx8" target="_blank">Watch Trailer</a>
                    </p>
                </article>
            </div>
        </div>
    </div>*@


    @*<div style="position: fixed; z-index: -99; width: 100%; height: 100%; margin-left:0%">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/T3nqmGgnJe8" frameborder="0" allowfullscreen="true" autoplay="1" controls="0" showinfo="0"></iframe>
        </div>*@
</div>
