@{
    ViewBag.Title = "Now Playing";
}
<div class="content">
    <div class="main-gallery home-gal-img">
        <div class="gallery-cell">
            <div class="carousel-caption">
                <h3>Box Office Opens At 7:30</h3>
            </div>
        </div>
        <div class="gallery-cell">
            <div class="carousel-caption">
                <h3>Shows Begin At Dusk</h3>
            </div>
        </div>
        <div class="gallery-cell">
            <div class="carousel-caption">
                <h3>Open Fri - Sun</h3>
            </div>
        </div>
    </div>

    <div id="animatedModal">

        <div class="modal-content">

            <p class="close-animatedModal">X</p>
            <h1 class="title">The Martian</h1>
            <h3 class="running-time">Screen 1 (105.7 FM)</h3>
            <article class="movie-description">
                During a manned mission to Mars, Astronaut Mark Watney is presumed
                dead after a fierce storm and left behind by his crew. But Watney has
                survived and finds himself stranded and alone on the hostile planet.
                With only meager supplies, he must draw upon his ingenuity, wit and
                spirit to subsist and find a way to signal to Earth that he is alive. Millions
                of miles away, NASA and a team of scientists work tirelessly to bring
                “the Martian” home, while his crewmates plot a rescue mission.
                <p>
                    <a class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=ej3ioOneTy8" target="_blank">Watch Trailer</a>
                </p>
            </article>
        </div>
    </div>

    <div id="header" class="blue-header2 text-right">Now Playing</div>

    <div class="screenbox screen1">
        <div class="row">
            <div class="col-lg-7 col-md-12 hidden-sm hidden-xs screen-content">
                <h1 class="title">The Martian | Thor</h1>
                <h3 class="running-time">Screen 1</h3>
                <article class="movie-description">
                    During a manned mission to Mars, Astronaut Mark Watney is presumed
                    dead after a fierce storm and left behind by his crew. But Watney has
                    survived and finds himself stranded and alone on the hostile planet.
                    With only meager supplies, he must draw upon his ingenuity, wit and
                    spirit to subsist and find a way to signal to Earth that he is alive. Millions
                    of miles away, NASA and a team of scientists work tirelessly to bring
                    “the Martian” home, while his crewmates plot a rescue mission.
                    <p>
                        <a class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=ej3ioOneTy8" target="_blank">Watch Trailer</a>
                    </p>
                </article>

            </div>
            <div class="ribbon hidden-lg hidden-md">
                <h1 class="text-center" style="margin-bottom:-5vh; transition: margin-top 999999s, margin-bottom 99999s;">The Martian | Thor</h1>
            </div>
            <div class="col-lg-5 col-md-12 poster-container float-right">
                <a id="demo01" href="#animatedModal"><img class="poster-pad-left poster-pad-right posters col-sm-6" src="~/Images/Posters/martian.jpg"></a>
                <a href=""><img class="posters poster-pad-left poster-pad-right col-sm-6" src="~/Images/Posters/thor.jpg"></a>
            </div>
        </div>
    </div>

    <div class="screenbox screen2">
        <div class="row">
            <div class="ribbon hidden-lg hidden-md">
                <h1 class="text-center" style="margin-bottom:0vh; transition: margin-top 999999s, margin-bottom 99999s;">Maze Runner: Scorch Trials | Hotel Transylvania 2</h1>
            </div>
            <div class="col-lg-5 col-md-12 @*hidden-xs*@ poster-container">
                <a href=""><img class="posters col-sm-6" src="~/Images/Posters/maze.jpg"></a>
                <a href=""><img class="posters poster-pad-right col-sm-6" src="~/Images/Posters/hotel.jpg"></a>
            </div>
            <div class="col-lg-7 col-md-12 hidden-sm hidden-xs">
                <h1 class="title text-right">Maze Runner | Hotel Transylvania 2</h1>
                <h3 class="running-time text-right">Screen 2</h3>
                <article class="movie-description text-right">
                    In this next chapter of the epic "Maze Runner" saga, Thomas and his
                    fellow Gladers face their greatest challenge yet: searching for clues
                    about the mysterious and powerful organization known as WCKD.
                    Their journey takes them to the Scorch, a desolate landscape filled
                    with unimaginable obstacles. Teaming up with resistance fighters,
                    the Gladers take on WCKD's vastly superior forces and uncover its
                    shocking plans for them all.
                    <p>
                        <a style="border-color:black;" class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=T3nqmGgnJe8" target="_blank">Watch Trailer</a>
                    </p>
                </article>
            </div>
        </div>
    </div>

    <div class="screenbox screen3">
        <div class="row">
            <div class="col-lg-7 col-md-12 hidden-sm hidden-xs">
                <h1 class="title">Sicario | Everest</h1>
                <h3 class="running-time">Screen 3</h3>
                <article class="movie-description">
                    Ben Whittaker, a retired widower in his 70s, answers an advertisement
                    seeking senior interns at a Brooklyn startup and soon finds himself in
                    the middle of a hurricane created by young company cheif Jules Ostin,
                    whose online clothing business which she started in her kitchen a year
                    and a half ago, has taken off and put her in charge of 250 employees.
                    Jules is initially skeptical of bringing an old-timer like Ben into the mix,
                    since Jules is juggling her business with a demanding home life.
                    <p>
                        <a class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=7XLQ1bkSLDo" target="_blank">Watch Trailer</a>
                    </p>
                </article>
            </div>
            <div class="ribbon hidden-lg hidden-md">
                <h1 class="text-center" style=" margin-bottom:0vh; transition: margin-top 999999s, margin-bottom 99999s;">Sicario | Everest</h1>
            </div>
            <div class="col-xs-12 col-lg-5 poster-container float-right">
                <a href=""><img class="posters poster-pad-right poster-pad-left col-sm-6" src="~/Images/Posters/Sicario.jpg"></a>
                <a href=""><img class="posters poster-pad-left poster-pad-right col-sm-6" src="~/Images/Posters/everest.jpg"></a>
            </div>
        </div>
    </div>

    <div class="screenbox screenbox-last-padding screen4">
        <div class="row">
            <div class="ribbon hidden-lg hidden-md">
                <h1 class="text-center" style="margin-bottom:0vh; transition: margin-top 999999s, margin-bottom 99999s;">Black Mass | The Grey</h1>
            </div>
            <div class="col-xs-12 col-lg-5 poster-container">
                <a href=""><img class="posters col-xs-6" src="~/Images/Posters/black-mass.jpg"></a>
                <a href=""><img class="posters poster-pad-right col-xs-6" src="~/Images/Posters/grey.jpg"></a>
            </div>
            <div class="col-lg-7 col-xs-12 hidden-sm hidden-xs">
                <h1 class="title text-right">Black Mass | The Grey</h1>
                <h3 class="running-time text-right">Screen 4</h3>
                <article class="movie-description text-right">
                    In 1970s South Boston, FBI Agent John Connolly (Joel Edgerton)
                    persuades Irish mobster James "Whitey" Bulger (Johnny Depp) to
                    collaborate with the FBI and eliminate a common enemy: the Italian
                    mob. The drama tells the story of this unholy alliance, which spiraled
                    out of control, allowing Whitey to evade law enforcement, consolidate
                    power, and become one of the most ruthless and powerful gangsters
                    in Boston history.
                    <p>
                        <a class="watch-trailer no-text-decoration" href="https://www.youtube.com/watch?v=R_F-lVhSfx8" target="_blank">Watch Trailer</a>
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>